@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ms+Madi&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

/* navbar */
nav {
  width: 100%;
  display: flex;
  background-color: #000;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
}

nav .logo {
  font-family: "Ms Madi", cursive;
  letter-spacing: 3px;
  font-size: 36px;
  margin-left: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li::after {
  content: "";
  display: block;

  width: 0;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: width 0.5s;
}

nav ul li:hover::after {
  width: 50px;
  background-color: whitesmoke;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  background-color: white;
  height: 3px;
  border-radius: 3px;
  transition: 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -1px);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: white;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: translatex(28px);
}

/* hero */
.hero {
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/aryaadiwiguna/smatico-gallery/main/img/hero.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
}

/* about */
.about h2 {
  font-size: 28px;
  margin: 10px auto;
  margin-top: 20px;
  text-align: center;
}

.about h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: black;
  margin: 6px auto;
  transition: width 0.5s;
  border-radius: 3px;
}

.about h2:hover::after {
  width: 170px;
  background-color: black;
}

.content-about {
  width: 780px;
  display: flex;
  margin: -10px auto;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;
  flex: 1;
}

.content-about p {
  margin-right: 20px;
}

.content-about img {
  transition: 0.5s;
}

.content-about img:hover {
  transform: scale(1.12);
}

/* gallery */
.gallery h2 {
  text-align: center;
  font-size: 28px;
  margin: 20px auto;
  margin-bottom: -50px;
}

.gallery h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  background-color: black;
  margin: 6px auto;
  transition: width 0.3s;
  border-radius: 3px;
}

.gallery h2:hover::after {
  width: 170px;
  background-color: black;
}

.thumbnail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px 10px;
  margin-top: -20px;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;
  flex: 1;
}

.thumbnail img {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.5s;
}

.thumbnail img:hover {
  transform: scale(1.11);
}

/* footer */
footer {
  background: #000;
  height: auto;
  width: 100%;
  padding-top: 20px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h1 {
  font-size: 45px;
  font-weight: 800;
  line-height: 3rem;
  margin-bottom: 10px;
  letter-spacing: 10px;
}

.footer-content p {
  max-width: 420px;
  margin: 10px auto;
  line-height: 22px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 1.5rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: rgb(219, 219, 219);
}
.footer-bottom {
  background: #333;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom p i {
  margin-left: 5px;
  margin-right: 5px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .hero {
    height: 50vh;
    width: 100%;
  }

  nav ul {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    flex-direction: column;
    height: 50vh;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    margin-right: 0;
  }

  nav .logo {
    justify-content: center;
    display: flex;
  }

  nav ul.slide {
    opacity: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .menu-toggle {
    display: flex;
    margin-right: 20px;
  }

  .about h2 {
    margin-top: 20px;
  }

  .content-about {
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .content-about p {
    margin-top: -30px;
    margin-bottom: 15px;
  }

  .content-about img {
    width: 100%;
  }

  .thumbnail {
    margin-top: -40px;
  }

  .gallery h2 {
    margin-top: -40px;
    justify-content: center;
  }

  .thumbnail img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  footer {
    width: 100%;
  }
}
